# Core dependencies for experiment reproduction

# Goodpoints (requires manual patching (main:kernels/inverse-multiquadric/goodpoints-modified) for custom inverse-multiquadric kernel)
goodpoints

sage-importance==0.0.7
shap==0.46.0

# OpenXAI must be installed manually from: https://github.com/AI4LIFE-GROUP/OpenXAI
# openxai 
